.wrapper {
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.primary-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    border-radius: 4px;
    letter-spacing: -0.008em;
    text-transform: uppercase;
    text-decoration: none;
    &__malachite {
        border-bottom: 6px solid #008b12;
        background-color: #00b83a;
        box-shadow: 0px 16px 32px 0px rgba(0, 184, 58, 0.36);
        &:hover {
            background-color: rgba(0, 184, 58, .8);
            border-bottom: 6px solid rgba(0, 139, 18, .8);
            
        }
    }
    &__flamingo {
        border-bottom: 6px solid #da522b;
        background-color: #ff5829;
        box-shadow: 0px 14px 32px 0px rgba(255, 88, 41, 0.24);
        &:hover {
            background-color: rgba(255, 88, 41, .8);
            border-bottom: 6px solid rgba(218, 82, 43, .8);
            
        }
    }
      
}

.section {
    &__title {
        font-weight: 900;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.024em;
    }
    &__sub-title {
        font-weight: 900;
        font-size: 32px;
        line-height: 64px;
        letter-spacing: -0.024em;
    }
}

.socials {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    &__item {
        &:not(:last-child) {
            margin: 0 20px 0 0;
        }
    }
    &__link {
        display: block;
        width: 57px;
        height: 57px;
        border-radius: 50%;
        border: 1px solid #afada5;
        background-repeat: no-repeat;
        background-position: center;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: #afada5;
            transition: all .3s ease-in-out;
        }
    }
    &__link--vk {
        background-position: 45% 50%;
        background-image: url(/img/dest/footer/vk-icon.png);
        &:hover {
            background-image: url(/img/dest/footer/vk__white-icon.png);
        }
    }
    &__link--instagram {
        background-image: url(/img/dest/footer/instagram-icon.png);
        &:hover {
            background-image: url(/img/dest/footer/instagram__white-icon.png);
        }
    }
    &__link--facebook {
        background-position: 48% 50%;
        background-image: url(/img/dest/footer/facebook-icon.png);
        &:hover {
            background-image: url(/img/dest/footer/facebook__white-icon.png);
        }
    }
}

.custom-checkbox {
    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
        &:checked {
            + label::after {
                content: '';
                display: block;
                position: absolute;
                top: -2px;
                left: 8.5px;
                width: 5px;
                height: 14px;
                border: solid #ff5829;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }
    label {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        font-family: Arial;
        font-style: italic;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.032em;
        color: #afada5;
        &::before {
            content:'';
            appearance: none;
            background-color: transparent;
            border: 2px solid #afada5;
            border-radius: 3px;
            padding: 6px;
            background-color: #fff;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 5px;
        }
    }
}

.custom-select {
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    color: #afada5;
    letter-spacing: -0.024em;
    background-color: #f7f7f2;
    padding: 17px 76px 17px 15px;
    border: 1px solid #f2f2f2;
    outline: none;
    appearance: none;
    background-image: url(/img/dest/build-progress/select-down-icon.png);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
}

.floor-switch {
    &__tab-item {
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__tab-item--1 {
        display: block;
        width: 169px;
        height: 104px;
        background-image: url(/img/dest/plans/entrance-1__icon--white.png);
        &.floor-switch__tab-item--active {
            background-image: url(/img/dest/plans/entrance-1__icon--green.png);
        }
    }
    &__tab-item--2 {
        display: block;
        width: 160px;
        height: 104px;
        background-image: url(/img/dest/plans/entrance-2__icon--white.png);
        &.floor-switch__tab-item--active {
            background-image: url(/img/dest/plans/entrance-2__icon--green.png);
        }
    }
}

.animated-title {
    animation-delay: 1s;
}
  