// USER VARIABLES SECTION

$accent: #00b83a; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #414343; // Text Color
$lineheight: 1.65; // Document Line Height
$userfont: Acrom; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;
$container-max-widths: ( xs: 100% ,sm: 576px,md: 768px,lg: 992px,xl: 1200px,xxl: 1440px);
/* $container-max-widths: ( sm: 660px,md: 840px,lg: 1080px,xl: 1260px,xxl: 1440px); */

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: local($fname), url($furl) format('woff2');
		// font-display: swap; // Uncomment to initially display system fonts
	}
}

@include font('Acrom', normal, 100, '../fonts/Acrom-Thin.woff2');
@include font('Acrom', normal, 300, '../fonts/Acrom-Light.woff2');
@include font('Acrom', normal, 400, '../fonts/Acrom-Regular.woff2');
@include font('Acrom', normal, 500, '../fonts/Acrom-Medium.woff2');
@include font('Acrom', normal, 700, '../fonts/Acrom-Bold.woff2');
@include font('Acrom', normal, 900, '../fonts/Acrom-ExtraBold.woff2');
@include font('AsapCondensedBold', normal, 900, '../fonts/AsapCondensed-Bold.woff2');

// GENERAL DOCUMENT STYLES

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

body {
	font-family: $userfont, $systemfont;
	font-size: $fontsize;
	line-height: $lineheight;
	background: #fbfbf7;
	color: $textcolor;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}
