@media screen and (max-width: 1680px) {
    .build-progress {
        .swiper-button-prev {
            left: -30px;
        }
        .swiper-button-next {
            right: -30px;
        }
    }
}
@media screen and (max-width: 1450px) {
    .header__logo {
        flex: 0 0 168px;
    }
    .nav {
        padding: 0 24px;
    }
    .gallery-tabs {
        left: 30px;
    }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { 
    .apartment-slider {
        /* overflow: hidden; */
        &__image {
            text-align: center;
        }
        .swiper-slide.swiper-slide-next {
            opacity: 0;
        }
        .swiper-button-prev {
            left: -40px;
        }
        .swiper-button-next {
            right: -40px;
        }
    }
    .contact-form {
        &__decor {
            display: none;
        }
    }
    .apart-card-desc {
        &__list {
            justify-content: space-between;
        }
    }
    .developer-stats {
        flex-wrap: wrap;
        justify-content: center;
        padding: 60px 60px;
    }
    .build-progress .swiper-button-next, .build-progress .swiper-button-prev {
        transform: translateY(60px);
    }
}

@media (max-width: 1300px) {
    .public-area {
        &__wrapper {
            /* max-width: 1200px; */
            flex-wrap: wrap;
            margin: 0 auto; 
        }
        &__map {
            flex: 0 0 100%;
            margin: 0 0 30px 0;
        }
        &__content {
            flex: 0 0 100%;
            padding: 0 15px;
        }

    }
    
    .gallery-tabs {
        position: relative;
        left: 0;
        margin: 0;
        height: auto;
        &__link {
            margin: 0 0 30px 0;
            &:not(:last-child) {
                margin: 0 60px 30px 0;
            }
        }
    }
    .big-gallery__nav {
        right: 50%;
        transform: translate(50%);
    }
}

@media screen and (max-width: 1250px) {
    .nav {
        justify-content: flex-end;
        &__list {
            display: none;
        }
        &__link {
            font-size: 18px;
            line-height: 32px;
        }
    }
    .burger {
        display: flex;
        margin: 0 0 0 30px;
    }
    .mobile-menu {
        .nav {
            &__list {
                display: flex;
                flex-direction: column;
                margin: 0 0 30px 0;
            }
            &__link {
                color:#414343;
                &:hover {
                    text-decoration: underline;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    .header {
        position: relative;
        &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, .6);
                z-index: 0;
        }
    }
    .header__title,
    .header__sub-title,
    .header__nav {
        position: relative;
    }
    .buying-steps {
        &__wrapper {
            background-image: none;
        }
    }
    .buy-apartment {
        &__tabs {
            width: 100%;
        }
        &__tab {
            display: flex;
            flex: 1;
            justify-content: center;
        }
        &__tab-link {
            display: inline-flex;
        }
    }
    .buy-apartment-card {
        flex-direction: column;
        &__field {
            max-width: 400px;
        }
    }
    .apart-card-desc {
        position: relative;
        padding: 65px 65px 18px;
        margin: 0 0 30px 0;
        &__list {
            z-index: 1;
        }
       
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .3);
        }
    }
    .buy-apartment {
        &__phone {
            display: none;
        }
    }
    .buy-apartment-card {
        
    }
    
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .contact-map {
        height: 400px;
        margin: 0 0 30px 0;
    }
    .big-gallery {
        height: 680px;
    }
    .apartment {
        padding: 30px 0;
    }
    .apartment-slider {
        height: 962px;
        &__item {
            flex-direction: column;
        }
        &__image {
            text-align: center;
        }
    }
    .universal-location__grid {
        grid-template-columns: repeat(2,1fr);
    }
    .infrastructure-card {
        max-width: 100%;
        justify-content: space-between;
    }
    .commerce__tab-switch {
        margin: 0 0 30px 0;
    }
    .developer {
        &__about {
            margin: 0 0 30px 0;
        }
    }
    .developer-stats {
        &__item {
            flex: 0 0 33.3%;
        }
    }
    .contacts {
        &__form {
            padding: 0 15px;
        }
        &__map {
            padding: 0 15px;
        }   
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .header {
        height: 250vh;
        &__container {
            padding: 90px 0 0 0;
        }
        &__developer {
            margin: 100px 0 0 0;
        }
    }
    .apartment-slider {
        .swiper-button-next {
            width: 60px;
            height: 60px;
            background-color: rgba(255,101,41,.8);
            background-image: url(/img/dest/slider/arrow__right-disabled.png);
        }
        .swiper-button-prev {
            width: 60px;
            height: 60px;
            background-color: rgba(255,101,41,.8);
            background-image: url(/img/dest/slider/arrow__left-disabled.png);
        }
    }
    .build-progress {
        .section__title {
            margin: 0 0 15px 0;
        }
        .swiper-button-next{
            transform: translateY(90px);
        } 
        .swiper-button-prev {
            transform: translateY(90px);
        }
    }
    .build-progress-nav {
        &__item {
            &:not(:last-child) {
                margin: 0 44px 15px 0;
            }
        }
    }
    .apart-card-desc {
        padding: 40px 20px;
        &__item {
            flex: 0 0 49%;
            margin: 0 0 30px 0;
        }
        &__number {
            margin: 0;
        }
        &__count {
            font-size: 60px;
            line-height: 68px;
        }
        &__rub {
            font-size: 18px;
            line-height: 18px;
        }
        &__years {
            font-size: 18px;
            line-height: 18px;
        }
        &__percent {
            font-size: 20px;
            line-height: 40px;
        }
    }
    .developer-stats {
        &__item {
            display: flex;
            flex-direction: column;
            flex: 0 0 100%;
        }
    }
    .nav__callback {
        display: none;
    }
    .mobile-menu {
        .nav__callback {
            display: inline-flex;
        }
    }
    .universal-location__grid {
        grid-template-columns: 1fr;
        .universal-location-big {
            grid-column: auto;
        }
    }
    .footer {
        &__logo {
            text-align: center;
            img {
                width: auto;
            }
        }
        &__phone {
            justify-content: center;
        }
        &__call-back {
            display: flex;
            justify-content: center;
        }
        &__socials {
            justify-content: center;
        }
        .developers {
            text-align: center;
        }
    }
    .buy-apartment {
        &__tab {
            padding: 24px 15px;
        }
    }
    .public-area {
        &__icon {
            &_small {
                width: 40px;
                height: 40px;
            }
            &_big {
                width: 45px;
                height: 45px;
            }
        }
        &__item {
            &_parking {

            }
        }
        &__info {
            width: 234px;
            height: 242px;
        }
    }
 }
@media (max-width: 680px) {
    .header {
        &__container {
            padding: 90px 0;
        }
        .desc-home {
            left: 60%;
        }
    }
    .public-area {
        &__item {
            z-index: 1;
            &:hover {
                &.public-area__item_big .public-area__info {
                    display: none;
                }
                &.public-area__item_small .public-area__info {
                    display: none;
                }
            }
        }
        &__info {
            &_wrapper {
                .public-area__info {
                    appearance: inherit;
                    opacity: 1;
                }
            }
        }
    }
    
}
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .contact-form {
        padding: 54px 15px 30px;
    }
    .header {
        height: auto;
        &__title {
            font-size: 46px;
            line-height: 53px;
        }
        &__sub-title {
            font-size: 16px;
            line-height: 24px;
        }
        &__developer {
            max-width: 100%;
            margin: 60px 0;
        }
        .desc-home {
            position: relative;
            left: auto;
            top: auto;
            margin: 0 0 30px 0;
            &__container {
                max-width: 100%;
                &:before {
                    display: none;
                }
            }
        }
        .info-home {
            position: relative;
            left: auto;
            top: auto;
            margin: 0 0 30px 0;
            &__container {
                max-width: 100%;
                &:before {
                    display: none;
                }
            }
        }
    }
    .buy-apartment {
        &__tab {
            padding: 24px 10px;
        }
        &__tab-content {
            padding: 50px 0;
        }
    }
    .banks {
        padding: 60px 20px;
    }
    .buy-apartment-card {
        &__content {
            padding: 0 15px;
        }
    }
    .floor-switch {
        width: 100%;
        justify-content: center;
    }
    .nav__phone {
        display: none;
    }
    .mobile-menu {
        .nav__phone {
            display: inline-flex;
            
            background-image: url(/img/dest/header/phone-icon--fixed.png);
            margin: 0 0 30px 0;
            a {
                color: #414343;
            }
        }
    }
    .apartment-slider {
        margin: 0 0 60px 0;
        &__item {
            padding: 65px 15px 55px 15px;
        }
        &__tips {
            transform: none;
        }
        &__image {
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
    .build-progress-slider {
        &__image {
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}
@media (max-width: 429px) {
    .buy-apartment-card__submit {
        flex-wrap: wrap;
    }
    .buy-apartment-card__checkbox {
        margin: 15px 0 0 0px;
        &.custom-checkbox input:checked + label::after {
            top: -2px;
            left: 9px;
        }
    }
    .contact-form {
        &__radio-group li label {
            font-size: 10px;
            padding: 8px 8px;
        }
    }
}
@media (max-width: 480px) {
    .section__title {
        font-size: 36px;
        line-height: 34px;
    }
    .buy-apartment {
        &__tab {
            font-size: 18px;
        }
    }
    .apartment__map {
        padding: 60px 0;
    }
    .advantages {
        padding: 60px 0;
    }
    .infrastructure__wrapper {
        padding: 60px 0;
    }
    .how-buy-apartment {
        padding: 60px 0;
    }
    .buying-steps__wrapper {
        padding: 60px 0;
    }
    .commerce {
        padding: 60px 0;
    }
    .universal-location {
        padding: 30px 0 60px 0;
    }
    .build-progress {
        padding: 60px 0;
    }
    .contacts__wrapper {
        padding: 60px 0;
    }
    .developer {
        padding: 60px 0 0 0;
    }
}







