.build-progress {
    position: relative;
    padding: 120px 0 130px;
    .container {
        position: relative;
    }
    .section__title {
        margin: 0;
    }
    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 43px 0;
    }
    &__nav {

    }
    .swiper-slide {
        transition: all .3s ease-in-out;
        &.swiper-slide-next {
            
            transition: all .3s ease-in-out;
        }
        &.swiper-slide-prev {
            appearance: none;
            opacity: 0;
            transition: all .3s ease-in-out;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #ffffff;
        transform: translateY(-10px);
        &::after {
            display: none;
        }
    }
    .swiper-button-prev {
        left: -118px;
        background-image: url(/img/dest/slider/arrow__left.png);
        &.swiper-button-disabled {
            background-color: #f7f7f2;
            background-image: url(/img/dest/slider/arrow__left-disabled.png);
        }
    }
    .swiper-button-next {
        right: -118px;
        background-image: url(/img/dest/slider/arrow__right.png);
        &.swiper-button-disabled {
            background-color: #f7f7f2;
            background-image: url(/img/dest/slider/arrow__right-disabled.png);
        }
    }
}

.build-progress-nav {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        &:not(:last-child) {
            margin: 0 44px 0 0;
        }
    }
    &__item_select {

    }
    &__link {
        cursor: pointer;
        position: relative;
        font-weight: 900;
        font-size: 24px;
        line-height: 24px;
        color: #00b83a;
        text-decoration: none;
        &:hover {
            color: #afada5;
            &::before {
                border-bottom: 1px dotted #afada5;
            }
        }
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            border-bottom: 1px dotted #00b83a;
        }
    }
    &__link--active {
        cursor: default;
        color: #afada5;
        &:hover {
            color: #afada5;
        }
        &::before {
            display: none;
        }
    }
}

.build-progress-slider {
    /* overflow: visible; */
    height: 400px;
    &__slide {
        position: relative;
        border-radius: 3px;
        &:hover {
            .build-progress-slider__content {
                opacity: 1;
                transition: opacity .3s ease-in-out;
            }
            
        }
    }
    &__image {
        border-radius: 3px;
        overflow: hidden;
    }
    &__content {
        cursor: pointer;
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: rgba(255, 255, 255, .95);
        backdrop-filter: blur(1px);
        padding: 40px 50px;
        border-radius: 3px;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: #00b83a;
        margin: 0 0 20px 0;
    }
    &__description {
        font-size: 15px;
        line-height: 24px;
        color: #414343;
        overflow: hidden; /* include for safety */
        display: -webkit-box; /* setting a block element  */
        -webkit-box-orient: vertical; /* companion class   */
        -webkit-line-clamp: 6; /* number of lines  */
    }
    
}
