.footer {
    position: relative;
    &__wrapper {
        background-color: #edece7;
        max-width: 1920px;
        width: 100%;
        padding: 63px 0;
        margin: 0 auto;
    }
    &__bottom {
        background-color: #fff;
        max-width: 1920px;
        width: 100%;
        padding: 21px 0;
        margin: 0 auto;
    }
    &__phone {
        display: flex;
    }
    &__call-back {
        padding: 14px 15px;
    }
    &__socials {

    }
    &__nav {

    }
}

.footer-phone {
    &__icon {
        img {
            width: 100%;
            height: auto;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 7px;;
    }
    &__link {
        font-weight: 900;
        font-size: 32px;
        line-height: 24px;
        color: #414343;
        text-decoration: none;
        margin: 0 0 7px 0;
        &:hover {
            color: #414343;
            text-decoration: underline;
        }
    }
    &__description {
        font-size: 14px;
        line-height: 24px;
        color: #afada5;
    }
}



.developers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 14px;
    line-height: 24px;
    color: #afada5;
    text-align: right;
    &__link {
        font-weight: 900;
        color: #414343;
        text-decoration: none;
        &:hover {
            color: #414343;
            text-decoration: underline;
        }
    }
}

.dev-company {
    max-width: 1000px;
    width: 100%;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #999898;
    text-align: center;
    margin: 0 auto;
    a {
        color: #999898;
        text-decoration: none;
        &:hover {
            color: #999898;
            text-decoration: underline;
        }
    }
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0 auto 24px;
    &__item {

    }
    &__link {
        font-weight: 900;
        font-size: 14px;
        line-height: 20px;
        color: #00b83a;
        text-decoration: none;
        padding: 0 5px;
        &:hover {
            color: #00b83a;
            text-decoration: underline;
        }
    }
    &__link--policy {
        color: #414343;
        &:hover {
            color: #414343;
            text-decoration: underline;
        }
    }
}
 