.how-buy-apartment {
    padding: 110px 0 60px 0;
    .section__title {
        margin: 0 0 50px 0;
    }
    &__header {

    }
    &__tabs {

    }
    &__tab {

    }
    &__tab--active {
        color: red;
    }
    &__tab-link {

    }
    &__phone {

    }
    &__content {

    }
    &__tab-content {
        display: none;
    }
    &__tab-content--active {
        display: flex;
        background-color: #fff;
    }
    &__card {

    }
}

.buy-apartment {
    &__header {
        display: flex;
        justify-content: space-between;
        background-color: #f7f7f2;
        border-radius: 3px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    &__tabs {
        display: flex;
    }
    &__tab {
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #00b83a;
        padding: 24px 52px;
        border-radius: 3px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        text-decoration: none;
        &:hover {
            color: #00b83a;
            background-color: rgba(255, 255, 255, .5);
        }
    }
    &__tab--active {
        color: #afada5;
        background-color: #fff;
        &:hover {
            color: #afada5;
            background-color: #fff;
        }
        .buy-apartment__tab-link {
            &::before {
                display: none;
            }
        }
    }
    &__tab-link {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed #00b83a;
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-size: 15px;
        line-height: 26px;
        color: #afada5;
        margin: 0 50px 0 0;
        a {
            color: #414343;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__content {

    }
    &__tab-content {
        background-color: rgb(255, 255, 255);
        padding: 50px 50px;
        border-radius: 3px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        display: none;
        box-shadow: 0px 24px 56px 0px rgba(182, 182, 168, 0.16);
    }
    &__tab-content--active {
        display: flex;
        background-color: #fff;
    }
    &__card {

    }
}

.buy-apartment-card {
    display: flex;
    width: 100%;
    &__description {
        flex-shrink: 1;
        flex-grow: 1;
        margin: 0 50px 0 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 380px;
    }
    &__text {
        font-size: 15px;
        line-height: 24px;
        a { 
            position: relative;
            display: inline-flex;
            font-weight: 900;
            color: #414343;
            text-decoration-style: dotted;
            &:hover {
                color: #202121;
            }
        }
    }
    &__title {
        font-weight: 900;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.036em;
        margin: 0 0 30px 0;
    }
    &__form {

    }
    &__field {
        
    }
    &__input {
        width: 100%;
        font-size: 300px;
        font-size: 15px;
        line-height: 36px;
        background-color: #f7f7f2;
        padding: 10px 24px;
        border: none;
        margin: 0 0 32px 0;
        &::placeholder {
            color: #afada5;
        }
    }
    &__submit {
        display: flex;
        align-items: center;
    }
    &__submit-btn {
        display: inline-flex;
        padding: 10px 53px;
        
    }
    &__checkbox {
        margin: 0 0 0 20px;
        &.custom-checkbox {
            input:checked + label::after {
                top: 2px;
                left: 9px;
            }
            &.custom-checkbox label {
                font-size: 10px;
            }
        }
        
    }
}

.apart-card-desc {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 65px 18px;
    &__list {
        max-width: 750px;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        color: #fff;
        flex: 0 0 35%;
        margin: 0 0 60px 0;
    }
    &__title {
        max-width: 150px;
        font-weight: 900;
        font-size: 13px;
        text-transform: uppercase;
    }
    &__number {
        display: flex;
        margin: 0 0 0 -12px;
    }
    &__count {
        font-weight: 900;
        font-size: 120px;
        line-height: 95px;
        letter-spacing: -0.08em;
    }
    &__percent {
        display: flex;
        align-items: flex-start;
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -0.08em;
    }
    &__rub {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-size: 32px;
        line-height: 32px;
        margin: 0 0 0 10px;
    }
    &__years {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-size: 32px;
        line-height: 32px;
        margin: 0 0 0 10px;
    }
    &__ipoteka {
        background-image: url(/img/dest/how-to-buy-apartment/ipoteka-bg.png);
    }
    &__part-pay{
        background-image: url(/img/dest/how-to-buy-apartment/part-pay-bg.png);
    }
    &__trade-in {
        background-image: url(/img/dest/how-to-buy-apartment/trade-in-bg.png);
    }
}


.banks {
    background-image: url(/img/dest/how-to-buy-apartment/banks-list-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 50px 50px 50px;
    &__title {
        font-size: 24px;
        line-height: 24px;
        color: #afada5;
        margin: 0 0 27px 0;
    }
    &__list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 20px 20px;
        margin: 0 30px 30px 0;
        &:last-child {
            margin: 0 0 30px 0;
        }
    }
}
