.public-area {
    &.wrapper {
        overflow: initial;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        @include media-breakpoint-up(sm) {
            max-width: 540px;
        }
        @include media-breakpoint-up(md) {
            max-width: 720px;
        }
        @include media-breakpoint-up(lg) {
            max-width: 960px;
        }
        @include media-breakpoint-up(xl) {
            max-width: 100%;
        }
        @include media-breakpoint-up(xxl) {
            max-width: 100%;
        }
    }
    &__map {
        position: relative;
        flex: 0 calc(62.6% - 15px);
        /* padding-left: calc((100% - 1410px) / 2); */
        img {
            width: 100%;
            height: auto;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 calc(37.4% - 15px);
        padding-right: calc((100% - 1410px) / 2);
        
    }
    &__description {
        font-size: 15px;
        line-height: 26px;
        p {
            
            margin: 0 0 12px 0;
        }
    }
    &__item {
        position: absolute;
        transition: all .3s ease-in-out;
        border-radius: 50%;
        &:hover {
            &.public-area__item_small .public-area__info {
                position: absolute;
                display: flex;
                transition: all .3s ease-in-out;
                transform: translate(-55%, -106%);
            }
            &.public-area__item_big .public-area__info {
                position: absolute;
                display: flex;
                transition: all .3s ease-in-out;
                transform: translate(-53%,-109%);
            }
            
        }
        &_parking {
            top: 71%;
            left: 26%;
            &:hover {
                .public-area__info {
                    background-image: url(/img/dest/public-area/parking-area__content.png);
                }
            }
        }
        &_shield {
            top: 72%;
            left: 40%;
        }
        &_people {
            top: 57%;
            left: 43%;
        }
        &_kindergarten {
            top: 58%;
            left: 54%;
        }
        &_baby-buggy {
            top: 27%;
            left: 60%;
        }
        &_kinds-playground {
            top: 73%;
            left: 60%;
        }
        &_nature {
            top: 86%;
            left: 77%;
        }
        &_crossing {
            top: 54%;
            left: 80%;
        }
        &_sport {
            top: 11%;
            left: 87%;
        }
    }
      
    &__icon {
        cursor: pointer;
        &_small {
            width: 58px;
            height: 58px;
        }
        &_big {
            width: 72px;
            height: 72px;
        }
    }
    &__info {
        cursor: default;
        display: none;
        width: 284px;
        height: 292px;
        background-image: url(/img/dest/public-area/public-content__bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        user-select: none;
        pointer-events: none;
        transition: all .3s ease-in-out;
        z-index: 2;
    }
}

.public-header {
    display: flex;
    margin: 0 0 35px 0;
    &__icon {
        margin: 0 13px 0 0;
    }
    &__title {
        display: flex;
        flex-direction: column;
        
        h2 {
            order: 2;
            max-width: 200px;
            font-weight: 900;
            font-size: 14px;
            line-height: 22px; 
            text-transform: uppercase;
        }
        span {
            order: 1;
            font-weight: 900;
            font-size: 48px;
            line-height: 34px;
            margin: 0 0 12px 0;
            sup {
                font-size: .65em;
            }
        }
    }
}


.area-nav {
    display: flex;
    font-weight: 900;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.032em;
    text-transform: uppercase;
    margin: 45px 0 0 0;
    &__icon {
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }
    &__outside {
        margin: 0 50px 0 0;
        .area-nav__icon {
            background-color: #ff5829;
        }
    }
    &__inside {
        .area-nav__icon {
            background-color: #00b83a;
        }
    }
}
